<h1 align ="center">Catalog online</h1>
<p>
    Unităţile de învăţământ care apelează la serviciile noastre fac dovada preocupării faţă de elevii săi 
    doresc păstrarea unei legături strânse şi deschise cu părinţii acestora. 
    Cei aflaţi la conducerea acestor unităţi cunosc faptul că valoarea şi prestigiul sunt alimentate în primul rând de performanţele şcolare ale elevilor care le calcă pragul.
    <br/>
    </p>
    <p>
    Iată ce oferim prin intermediul aplicaţiei noastre “catalog şcolar online”: <br/>
    - Cea mai rapidă metodă de introducere a datelor în catalogul virtual : 
    Actualizarea situaţiei şcolare a unui elev durează mai puţin de 2 minute. Introducerea notelor se poate face atât pe disciplină, cât şi pe elev.
    <br/>
    - Toate informaţiile de interes se află la îndemâna părinţilor
    </p>

    <h2 align ="left">Avantaje</h2>
    <p>
        Aplicaţia online nu are ca scop imitarea în mediul virtual al unui banal catalog şcolar. Utilizarea acestui tip de software presupune mult mai mult decât un instrument de introducere şi apoi vizualizare a notelor. Marele beneficiu îl reprezintă puterea informaţiei. Astfel, toate situatiile şcolare, toţi elevii, toate cadrele didactice sunt date adunate în sistem centralizat.
    </p>
    <p align="center">
    <img src="http://www.jlslibrary.org/images/John-L-Street-Library-Online-Catalog.jpg"/>
    </p>